<!-- 汎用modal -->
<div id="myModal" class="modal" th:fragment="modal_window(message)">
  <link rel="stylesheet" th:href="@{/css/modal_window.css}" />
        <div class="modal-content">
            <p id="modalMessage" th:text="${message}"></p>
            <div class="modal-buttons">
                <button type="button" id="yes_button"  class="btn btn-primary select">はい</button>
                <button type="button" id="no_button"  class="btn btn-primary select">いいえ</button>
            </div>
        </div>
</div>

<div id="completionModal" class="modal" th:fragment="conpletion_window(message)">
  <link rel="stylesheet" th:href="@{/css/modal_window.css}" />
        <div class="modal-content">
            <p id="modalMessage" th:text="${message}"></p>
            <div class="modal-buttons">
                <button type="button" id="close_button" class="btn btn-primary select">閉じる</button>
            </div>
        </div>
</div>